<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler
            class="com.github.cabutchei.jdtls.jrecontainer.RspVmInstallCommandHandler">
         <command id="com.github.cabutchei.jdtls.jrecontainer.createVmInstall"/>
         <command id="com.github.cabutchei.rsp.jdtls.createVmInstall"/>
         <command id="com.github.cabutchei.jdtls.jrecontainer.setJreContainer"/>
         <command id="com.github.cabutchei.rsp.jdtls.setJreContainer"/>
         <command id="com.github.cabutchei.jdtls.jrecontainer.setClasspathContainer"/>
         <command id="com.github.cabutchei.rsp.jdtls.setClasspathContainer"/>
         <command id="com.github.cabutchei.jdtls.jrecontainer.removeVmInstall"/>
         <command id="com.github.cabutchei.rsp.jdtls.removeVmInstall"/>
      </delegateCommandHandler>
   </extension>
</plugin>
